<div class="l-wrap">
  <h1 class="menu__heading">
    Appetizers
    <span class="menu__subheading">Món Khai Vị</span>
  </h1>

  <ol>
    <li class="menu__item">
      <h2 class="menu__item__name">Wonton Soup</h2>
      <p class="menu__item__name--translation">Súp Hoành Thánh</p>
      <p class="menu__item__desc">Pork dumplings, lettuce, onion and scallions in chicken broth. (Egg noodles with dumplings available $7.25)</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 4.25 / <span class="menu__item__size">L</span> 6.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Crispy Spring Rolls (3)</h2>
      <p class="menu__item__name--translation">Chả Giò</p>
      <p class="menu__item__desc--has-image">A savory mixture of ground chicken, carrots, onions, glass noodles and mushroom wrapped in spring roll and fried until golden brown. Served with &ldquo;nước mắm&rdquo; on the side. (Vegetarian crispy spring rolls available)</p>
      <img class="menu__item__image" src="#">
      <p class="menu__item__price">4.25</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Fresh Summer Rolls (2)</h2>
      <p class="menu__item__name--translation">Gỏi Cuốn</p>
      <p class="menu__item__desc">Shredded lettuce, mint and rice vermicelli combined with a choice of sliced pork, shrimp or a traditional combination of both, then wrapped into softened rice paper. A low fat favorite served with peanut sauce. (Vegetarian fresh summer rolls with tofu available)</p>
      <p class="menu__item__price">4.25</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Summer Rolls with Grilled Meats</h2>
      <p class="menu__item__name--translation">Gỏi Cuốn Thịt Nướng</p>
      <p class="menu__item__desc">Shredded lettuce, mint and rice vermicelli combined with a choice of grilled sliced pork, chicken or beef, wrapped into softened rice paper. Served with peanut sauce.</p>
      <p class="menu__item__price">4.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Beef or Chicken Teriyaki</h2>
      <p class="menu__item__name--translation">Thịt Lụi</p>
      <p class="menu__item__desc">A choice of sliced beef sirloin or chicken marinated in garlic, black pepper, lemongrass, sesame and soy sauce, then grilled over an open flame.</p>
      <p class="menu__item__price">4.75</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Roasted Quail</h2>
      <p class="menu__item__name--translation">Chim Cút Rô Ti</p>
      <p class="menu__item__desc">Roasted Quail sautéed with sliced onions, scallions, red bell peppers. Served over a bed of watercress.</p>
      <p class="menu__item__price">9.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Shrimp Toast</h2>
      <p class="menu__item__name--translation">Bánh Mì Chiên Tôm</p>
      <p class="menu__item__desc">Sliced French bread prepared with a layer of shrimp paste.</p>
      <p class="menu__item__price">5.25</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Shrimp Paste on Sugar Cane</h2>
      <p class="menu__item__name--translation">Chạo Tôm</p>
      <p class="menu__item__desc">A traditional Vietnamese delicacy of lightly seasoned ground shrimp, molded around a piece of peeled sugar cane.</p>
      <p class="menu__item__price">8.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Rice Chowder</h2>
      <p class="menu__item__name--translation">Cháo</p>
      <p class="menu__item__desc">Prepared with a choice of chicken, beef or pork. (Shrimp or Scallop available for additional $1)</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 5.50 / <span class="menu__item__size">L</span> 6.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Curried Chicken Soup</h2>
      <p class="menu__item__name--translation">Súp Cà Ri Gà</p>
      <p class="menu__item__desc">Tender chicken simmered in lemongrass curry with onions, potatoes and carrots. Served with vermicelli.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">L</span> 7.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Vietnamese Crepe</h2>
      <p class="menu__item__name--translation">Bánh Xèo</p>
      <p class="menu__item__desc">A traditional mixture of shrimp, pork, mung bean, coconut milk, and bean sprouts, folded into a rice flour crepe. Accompanied with a lettuce platter and served with &ldquo;nước mắm&rdquo; on the side.</p>
      <p class="menu__item__price">9.25</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Chicken Salad</h2>
      <p class="menu__item__name--translation">Gỏi Gà</p>
      <p class="menu__item__desc">Shredded chicken with shredded cabbage, carrots, fresh mint, roasted peanuts, onions and homemade dressing. (Tofu salad available)</p>
      <p class="menu__item__price">7.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Combination Salad</h2>
      <p class="menu__item__name--translation">Gỏi Tôm Thịt</p>
      <p class="menu__item__desc">Poached shrimp and chicken with shredded carrots, cabbage, fresh mint, roasted peanuts, onions and homemade dressing. (Shrimp only is available)</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Vietnamese Platter</h2>
      <p class="menu__item__name--translation">Khai Vị Thập Cẩm</p>
      <p class="menu__item__desc">Selection of assorted appetizers for a table of 4 or more.</p>
      <p class="menu__item__price">$5 per person</p>
    </li>
  </ol>

  <h1 class="menu__heading">
    Noodle Soup
    <br>
    Beef / Chicken
    <span class="menu__subheading">Phở Bò hoặc Gà</span>
  </h1>

  <ol>
    <li class="menu__item">
      <h2 class="menu__item__name">Extra Large Beef Noodle Soup<a href="#caution">*</a></h2>
      <p class="menu__item__name--translation">Phở Xe Lửa<a href="#caution">*</a></p>
      <p class="menu__item__desc">Our largest and most popular bowl of beef noodle soup combining sliced rare eye round, well done flank, brisket, tendon, and tripe.</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Special<a href="#caution">*</a></h2>
      <p class="menu__item__name--translation">Phở Đặc Biệt<a href="#caution">*</a></p>
      <p class="menu__item__desc">A choice of large or small bowl of our most popular beef noodle soup combining sliced rare eye round, well done flank, brisket, beef flank, tendon, and tripe.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">L</span> 7.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tái, Gân, Sách<a href="#caution">*</a></h2>
      <p class="menu__item__desc">Beef noodle soup combining sliced rare eye round, tendon, and tripe.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tái<a href="#caution">*</a></h2>
      <p class="menu__item__desc">Beef noodle soup with sliced rare eye round.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tái Nạm<a href="#caution">*</a></h2>
      <p class="menu__item__desc">Beef noodle soup with sliced rare eye round and well done flank.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tái Gân<a href="#caution">*</a></h2>
      <p class="menu__item__desc">Beef noodle soup with sliced rare eye round and tendon.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tái Gầu<a href="#caution">*</a></h2>
      <p class="menu__item__desc">Beef noodle soup with sliced rare eye round and brisket.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tái Sách<a href="#caution">*</a></h2>
      <p class="menu__item__desc">Beef noodle soup with sliced rare eye round and tripe.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Bò Viên</h2>
      <p class="menu__item__desc">Beef noodle soup with meatballs.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Chicken Noodle Soup</h2>
      <p class="menu__item__desc">Shredded chicken noodle soup.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">M</span> 7.95 / <span class="menu__item__size">L</span> 8.50</p>
    </li>
  </ol>

  <p class="menu__caution" id="caution">These items are cooked to order and may be served raw or undercooked. Consuming raw or undercooked meats may increase your risk of food-borne illness.</a>

  <h1 class="menu__heading">
    Noodle Soup
    <br>
    Seafood / Vegetable
    <span class="menu__subheading">Hủ Tiếu, Mì, Phở Rau Cải</span>
  </h1>

  <ol>
    <li class="menu__item">
      <h2 class="menu__item__name">Seafood Yellow Noodle Soup</h2>
      <p class="menu__item__name--translation">Mì Hải Sản</p>
      <p class="menu__item__desc">Seafood noodle soup combining shrimp, imitation crabmeat, squid, and fish cake with yellow noodles.</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Seafood Noodle Soup</h2>
      <p class="menu__item__name--translation">Hủ Tiếu Tôm Cua</p>
      <p class="menu__item__desc">Seafood noodle soup combining shrimp, imitation crabmeat, squid, and fish cake with white rice noodles.</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Mỹ Tho Noodle Soup</h2>
      <p class="menu__item__name--translation">Hủ Tiếu Mỹ Tho</p>
      <p class="menu__item__desc">Seafood noodle soup combining shrimp, imitation crabmeat, squid, fish cake and sliced pork with rice noodles. (Also available with clear water chestnut noodles)</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Vegetable Noodle Soup</h2>
      <p class="menu__item__name--translation">Phở Rau Cải</p>
      <p class="menu__item__desc">Vegetable noodle soup with a choice of chicken or beef broth.</p>
      <p class="menu__item__price"><span class="menu__item__size">S</span> 6.95 / <span class="menu__item__size">L</span> 7.95</p>
    </li>
  </ol>

  <h2 class="menu__item__name">Noodle Soup Side Orders</h2>
  <p class="menu__item__desc">Side orders can be served in the bowl of soup or on a side plate.</p>
  <ul>
    <li class="menu__item">
      <h2 class="menu__item__name">Rare eye round</h2>
      <p class="menu__item__price">3.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Well done flank</h2>
      <p class="menu__item__price">3.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Brisket</h2>
      <p class="menu__item__price">3.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tendon</h2>
      <p class="menu__item__price">3.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Tripe</h2>
      <p class="menu__item__price">3.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Meatballs</h2>
      <p class="menu__item__price">2.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Noodles</h2>
      <p class="menu__item__price">2.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Vegetable Medley</h2>
      <p class="menu__item__price">3.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Sliced Onions</h2>
      <p class="menu__item__price">1.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Eggs</h2>
      <p class="menu__item__price">2.00</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Extra plate of bean sprouts, lime, basil</h2>
      <p class="menu__item__price">1.50</p>
    </li>
  </ol>

  <h1 class="menu__heading">
    Vermicelli
    <span class="menu__subheading">Các Món Bún</span>
  </h1>
  <p class="menu__desc">All Vermicelli (Thin Rice Noodles) bowls come with shredded lettuce, mint, bean sprouts topped with roasted peanuts and served with &ldquo;nước mắm&rdquo; fish vinaigrette on the side.</p>

  <ol>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Meat Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Thịt Nướng</p>
      <p class="menu__item__desc">A choice of grilled sliced pork, beef, or chicken on top of vermicelli.</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Crispy Spring Rolls Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Chả Giò</p>
      <p class="menu__item__desc">Crispy spring rolls on top of vermicelli.</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Meat and Crispy Rolls Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Thịt Nướng Chả Giò</p>
      <p class="menu__item__desc">A choice of grilled sliced pork or beef with crispy spring rolls on top of vermicelli.</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Shrimp Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Tôm Nướng</p>
      <p class="menu__item__desc">Grilled shrimp on top of vermicelli.</p>
      <p class="menu__item__price">8.75</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Shrimp &amp; Pork Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Tôm Thịt</p>
      <p class="menu__item__desc">Grilled shrimp and sliced port on top of vermicelli.</p>
      <p class="menu__item__price">8.75</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Shrimp, Pork and Crispy Spring Roll Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Tôm Thịt Chả Giò</p>
      <p class="menu__item__desc">Grilled shrimp, sliced pork and crispy rolls on top of vermicelli.</p>
      <p class="menu__item__price">8.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Shrimp Paste on Sugar Cane Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Chạo Tôm</p>
      <p class="menu__item__desc">Shrimp paste on sugar cane on top of vermicelli.</p>
      <p class="menu__item__price">9.25</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Vietnamese Ham Vermicelli</h2>
      <p class="menu__item__name--translation">Bún Nem Nướng</p>
      <p class="menu__item__desc">Grilled Vietnamese ham on top of vermicelli.</p>
      <p class="menu__item__price">8.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Huế Special Soup</h2>
      <p class="menu__item__name--translation">Bún Bò Huế</p>
      <p class="menu__item__desc">Large vermicelli Huế special soup with sliced shin meat and pork hocks.</p>
      <p class="menu__item__price">8.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name"></h2>
      <p class="menu__item__name--translation"></p>
      <p class="menu__item__desc"></p>
      <p class="menu__item__price"></p>
    </li>
  </ol>

  <h1 class="menu__heading">
    Rice Plates Entrees
    <span class="menu__subheading">Cơm Dĩa</span>
  </h1>

  <ol>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Pork Chop with White Rice</h2>
      <p class="menu__item__name--translation">Cơm Sườn Nướng</p>
      <p class="menu__item__desc">Steamed rice plate with grilled pork chop, tomatoes, cucumber, and lettuce. Served with &ldquo;nước mắm&rdquo; fish vinaigrette. (Grilled sliced pork, beef or chicken available)</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Grilled Pork Chop, Julienne Pork Skin and Pork Cake with White Rice</h2>
      <p class="menu__item__name--translation">Cơm Sườn Bì Chả</p>
      <p class="menu__item__desc">Steamed rice plate with grilled pork chop, julienne pork skin and steamed ground pork cake, tomatoes, cucumber, and lettuce. Served with &ldquo;nước mắm&rdquo; fish vinaigrette.</p>
      <p class="menu__item__price"></p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Lê&rsquo;s Fried Rice</h2>
      <p class="menu__item__name--translation">Cơm Chiên</p>
      <p class="menu__item__desc">Vietnamese fried rice with a choice of shrimp, chicken or a combination of shrimp, chicken, eggs, Chinese sausage and mixed vegetables. (Pineapple Fried Rice available for additional $2)</p>
      <p class="menu__item__price">8.50</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Salted Fish Fried Rice</h2>
      <p class="menu__item__name--translation">Cơm Chiên Cá Mặn</p>
      <p class="menu__item__desc">Salted fish fried rice with eggs and shredded lettuce.</p>
      <p class="menu__item__price">8.95</p>
    </li>
  </ol>

  <h1 class="menu__heading">
    Stir Fried Noodles
    <span class="menu__subheading">Mì hoặc Hủ Tiếu Xào</span>
  </h1>

  <ol>
    <li class="menu__item">
      <h2 class="menu__item__name">Stir Fried Yellow Noodles</h2>
      <p class="menu__item__name--translation">Mì Xào</p>
      <p class="menu__item__desc">Stir fried yellow noodles with a choice of sliced chicken breast, beef sirloin, or pork with sliced red &amp; green peppers, onions, broccoli, green beans and snow peas. (Crispy yellow noodles are available)</p>
      <p class="menu__item__price">8.95</p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name">Stir Fried Flat Rice Noodles</h2>
      <p class="menu__item__name--translation">Hủ Tiếu Xào</p>
      <p class="menu__item__desc"></p>
      <p class="menu__item__price"></p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name"></h2>
      <p class="menu__item__name--translation"></p>
      <p class="menu__item__desc"></p>
      <p class="menu__item__price"></p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name"></h2>
      <p class="menu__item__name--translation"></p>
      <p class="menu__item__desc"></p>
      <p class="menu__item__price"></p>
    </li>
    <li class="menu__item">
      <h2 class="menu__item__name"></h2>
      <p class="menu__item__name--translation"></p>
      <p class="menu__item__desc"></p>
      <p class="menu__item__price"></p>
    </li>

    42. Stir Fried Flat Rice Noodles

    Hủ Tiếu Xào 8.95

    Stir fried flat rice noodles with a choice of sliced chicken, beef or pork with sliced red and green peppers, onions, broccoli, green beans and snow peas. (Seafood available for additional $2)

    43. Pad Thai 8.95

    Stir fried rice noodles with a choice of sliced chicken, beef or 

    pork with sliced red and green peppers, onions, broccoli, 

    green beans and snow peas and roasted peanuts.

    (Seafood available for additional $2)
  </ol>
</div>
    <li class="menu__item">
      <h2 class="menu__item__name"></h2>
      <p class="menu__item__name--translation"></p>
      <p class="menu__item__desc"></p>
      <p class="menu__item__price"></p>
    </li>
