<div class="home__hero-wrap">
  <h1 class="home__hero">Celebrating the food of Vietnam</h1>
</div>

<div class="l-wrap">
  <h2 class="home__welcome">Welcome to Le’s.</h2>
  <p class="home__desc">We are a family-owned restaurant serving food from all regions of our country. If you are new to Vietnamese food, you will find a cuisine combining subtle, delicate flavors, fresh vegetables, rice and noodles with meat and fish. Vietnamese food is light and flavorful. A typical Vietnamese dish will combine fresh vegetables and herbs, including basil and mint, vermicelli, a small portion of grilled meat or fish and light, homemade sauces.</p>
  <p class="home__desc">Vietnam’s long Buddhist tradition has fostered a highly evolved vegetarian cuisine which we also offer to you. Our dishes are ordinarily not prepared hot and spicy except upon request.</p>
  <p class="home__desc">Our restaurant will offer a variety of seasonal specials. Some will be traditional dishes from our rich culinary heritage. Others will explore Vietnamese cuisine’s possibilities by embracing tastes and influences from other cultures. This exploration is a timely reflection of a very exciting period in Vietnam’s history as it reopens to the world. The streets and cafes of Saigon are now filled with travelers from every continent. If there is anything we can do to make your visit more enjoyable do not hesitate to ask us.</p>
  <p class="home__desc">We are pleased to celebrate the foods of the several regions of our country – the rich noodle soups which originated around Hanoi in the north, fresh vegetables and seafood from the central region, including our home town of Da Lat, and the river fish cuisine of the southern Mekong Delta region.</p>
</div>
