.header-wrap {
  padding: {
    right: 5%;
    left: 5%;
  }
  background-color: $white;
}

.header {
  margin: {
    right: auto;
    left: auto;
  }
  max-width: 680px;
  border-bottom-color: $gray;
  border-bottom: 1px solid rgba($gray, .3);
}

.header__logo {
  margin: {
    right: auto;
    left: auto;
  }
  display: block;
  background: {
    image: url(../../public/logo.svg);
    repeat: no-repeat;
    size: 100%;
  }
  @media (max-width: 999px) {
    padding: {
      top: 8px;
      bottom: 8px;
    }
    height: 45px;
    width: 50px;
    background-position: 0 8px;
  }
  @media (min-width: 1000px) {
    padding: {
      top: 20px;
      bottom: 20px;
    }
    height: 64px;
    width: 70px;
    background-position: 0 20px;
  }
}

.header__club-sandwich {
  @media (max-width: 999px) {
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    color: $maroon;
    @include transition-duration(.25s);
    @include transition-property(opacity);
    &:hover {
      opacity: .6;
    }
  }
  @media (min-width: 1000px) {
    display: none;
  }
}
