.menu__heading {
  margin-top: 24px;
  font-size: 18px;
  text: {
    transform: uppercase;
    align: center;
  }
}

.menu__subheading {
  margin-bottom: 18px;
  display: block;
  font-weight: normal;
  text-transform: none;
}

.menu__item {
  padding-bottom: 28px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    border-top: 1px dotted $gray;
  }
}

.menu__item__name {
  padding-right: 8px;
  display: inline;
  position: relative;
  background-color: $white;
  font: {
    weight: bold;
    size: 16px;
  }
  line-height: 1.66;
  z-index: 1;
}

.menu__item__name--translation {
  display: block;
  font-size: 15px;
  line-height: 1.66;
}

.menu__item__desc, .menu__item__desc--has-image {
  font: {
    style: italic;
    size: 15px;
  }
  line-height: 1.66;
}

.menu__item__price {
  padding-left: 8px;
  position: absolute;
  top: 2px;
  right: 0;
  background-color: $white;
  font-weight: bold;
  z-index: 1;
}

.menu__item__size {
  font-weight: normal;
}
