.nav__close {
  @media (max-width: 499px) {
    left: 5%;
  }
  @media (min-width: 500px) and (max-width: 999px) {
    left: 3%;
  }
  @media (max-width: 999px) {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    color: $maroon;
    @include transition-duration(.25s);
    @include transition-property(opacity);
    &:hover {
      opacity: .6;
    }
  }
  @media (min-width: 1000px) {
    display: none;
  }
}

.nav {
  padding-top: 20px;
  position: absolute;
  @extend %box-sizing;
  border-top: 1px solid #e5e4df;
  border-top: 1px solid rgba($gray, .3);
  @media (max-width: 499px) {
    margin-left: 5%;
    padding-right: 5%;
  }
  @media (min-width: 500px) and (max-width: 999px) {
    margin-left: 3%;
    padding-right: 3%;
  }
  @media (max-width: 999px) {
    top: 61px;
    width: 180px;
  }
  @media (min-width: 1000px) {
    margin-left: 40px;
    padding-right: 40px;
    top: 104px;
    width: 240px;
  }
}

.nav__item {
  display: block;
  padding: {
    top: 5px;
    bottom: 5px;
  }
  text: {
    align: right;
    transform: uppercase;
    decoration: none;
  }
  color: $maroon;
  @include transition-duration(.25s);
  @include transition-property(opacity);
  @media (max-width: 999px) {
    padding-right: 18px;
  }
  @media (min-width: 1000px) {
    padding-right: 26px;
    font-size: 18px;
  }
  &:hover {
    opacity: .6;
  }
  &.is-active {
    position: relative;
    color: $yellow;
    &:hover {
      opacity: 1;
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border: {
        width: 10px;
        top-style: solid;
        top-color: transparent;
        right-style: solid;
        right-color: $yellow;
        bottom-style: solid;
        bottom-color: transparent;
      }
      @media (max-width: 999px) {
        top: 6px;
      }
      @media (min-width: 1000px) {
        top: 7px;
      }
    }
  }
}

.nav__locations {
  position: absolute;
  @extend %box-sizing;
  text-align: right;
  line-height: 1.66;
  @media (max-width: 499px) {
    margin-left: 5%;
    padding-right: 5%;
  }
  @media (min-width: 500px) and (max-width: 999px) {
    margin-left: 3%;
    padding-right: 3%;
  }
  @media (max-width: 999px) {
    top: 230px;
    width: 180px;
    font-size: 13px;
  }
  @media (min-width: 1000px) {
    margin-left: 40px;
    padding-right: 40px;
    top: 280px;
    width: 240px;
    font-size: 16px;
  }
}

.nav__location {
  margin-bottom: 16px;
  @media (max-width: 999px) {
    padding-right: 18px;
  }
  @media (min-width: 1000px) {
    padding-right: 26px;
  }
}

.nav__location__heading {
  font-weight: bold;
  font-size: 18px;
}

.nav__location__phone, .nav__location__address {
  display: block;
}
