.l-press {
  @media (max-width: 479px) {
    margin-top: 30px;
  }
  @media (min-width: 480px) {
    margin-top: 48px;
  }
}

.press {
  list-style-type: none;
}

.press:not(:last-child) {
  padding-bottom: 30px;
}

.press__date {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.press a {
  margin-top: 10px;
  display: inline-block;
}

.press a + a {
  margin-left: 20px;
}
