b {
  font-weight: bold;
}

.t-link {
  font-style: italic;
  text-decoration: none;
  color: $blue;
  @include transition-duration(.25s);
  @include transition-property(opacity);
  &:hover {
    opacity: .6;
  }
}

.t-link--has-arrow {
  @extend .t-link;
  &:after {
    content: "→";
    margin-left: 5px;
    font: {
      family: "Arial", sans-serif;
      style: normal;
    }
  }
}

.t-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
